.Pokemon {
    width: 400px;
    margin: 20px auto;
    clear: both;
}

#pokeimg {
    margin: 20px 0px;
}

img {
    border: none;
}

.container {
    display: flex;
}

.fL {
    margin-left: 0px;
    margin-right: 15%;
}

.fR {
    margin-left: 15%;
    margin-right: 0px;
}

.pokemon {
    width: 100%;
}
